---
import Layout from '@/components/base.astro';
import Navbar from '@/components/navbar.astro';
import SettingsPage from '@/components/react/settings';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
---

<Layout title={SITE_TITLE + " - Settings"} description={SITE_DESCRIPTION}>
	<Navbar active={"settings"} />
	<main class="min-h-screen bg-gray-50 dark:bg-zinc-950 pt-20">
		<div class="py-8">
			<SettingsPage base={"{{base_path | safe}}"} client:only="@astrojs/react" />
		</div>
	</main>
</Layout>
